{
	"extends": "react-app",
	"plugins": ["prettier"],
	"rules": {
		"indent": ["error", "tab"]
	},
	"env": {
		"browser": true,
		"es6": true,
		"jest": true
	},
	"settings": {
		"import/resolver": {
			"node": {
				"paths": ["src"]
			}
		}
	}
}
